# -------------------------
# Python cache / bytecode
# -------------------------
__pycache__/
*.py[cod]
*.pyo

# -------------------------
# Virtual environments
# -------------------------
venv/
.env/
.env*/
.venv/

# -------------------------
# IDE / Editor files
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db


# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# API keys / secrets
# -------------------------
.env
*.env

